.container {
  max-width: 500px;
  padding: 20px;
  margin: 10px auto;
  border: 5px solid rgb(97, 97, 97);
  background-color: #eee;
  border-radius: 10px;
}

.title {
  color: rgb(59, 59, 59);
}

.form {
  display: flex;
  margin-bottom: 20px;
}

.form .new {
  flex: 1;
  padding: 5px;
  border: 2px solid rgb(97, 97, 97);
  border-radius: 5px;
  margin-right: 10px;
}

.form .add {
  padding: 5px 40px;
  border: 2px solid #3c72e7;
  border-radius: 5px;
  color: white;
  background-color: #3c72e7;
  cursor: pointer;
}

.form .add:hover {
  color: #3c72e7;
  background-color: white;
}